<!-- Inner -->
<div class="inner">
	<header>
		<h1><a href="index.html" id="logo">Boarding School</a></h1>
		<hr />
		<p>Your private boarding school advisor</p>
	</header>
	<footer>
		<a href="#banner" class="button circled scrolly">Start</a>
	</footer>
</div>

<!-- Nav -->
<nav id="nav">
	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="#main">Our Service</a></li>
		<li><a href="#features">Testimony</a></li>
		<li><a href="#footer">Contact Us</a></li>
		<li>
			<a href="#">Language</a>
			<ul>
				<li><a href="#">English</a></li>
				<li><a href="#">German</a></li>
				<li><a href="#">Chinese</a></li>
				<li><a href="#">Hindu</a></li>
			</ul>
		</li>
	</ul>
</nav>